  .error-cont {
    background: white;

    .error {
      .alert-danger {
        color: white;
        background-color: #f56e6e;

        .close.btn-close {
          background: none;
          padding: 1rem;
          opacity: 1;
          right: 21px;
        }

        .alert-dismissible .close.btn-close {
          padding: 1rem 1rem !important;
        }

        .close.btn-close::before {
          content: "\f00d";
          font-family: "FontAwesome";
          background: none;
          color: white;
          font-size: 1.3rem;
        }

        .icon {
          padding: 0px 10px;
        }
      }
    }
  }
